#buttonsign {
    background-color: gray;
    color: white;
    font-weight: bold;
}
#buttonup {
    background-color:#17b288;
    color: white;
    margin-left: -5px;
    padding: 15px 84.5px;
    font-weight: bold;
}