body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
section { 
    vertical-align: middle;
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #24323d;
}
.name {
    padding: 15px;
}
form {
    margin: auto;
}
.emailAddress, .setApassword{
    padding: 5px;
    display: block;
    margin: auto;
    width: 200px;
    background-color: #24323d;
    border: 2px gray solid;
}
.setApassword {
    margin-top: 15px;
}
.buttonsubmit {
    margin-top: 15px;
    padding: 15px;
    font-size: 20px;
    margin-left: 2px;
    width: 215px;
    color: white;
    background-color: #17b288;
    border: none;
    margin-bottom: 30px;
}
.firstName, .lastName {
    padding: 5px;
    background-color: #24323d;
    border: 2px gray solid;
    width: 200px;
}
.firstName {
    margin-bottom: 15px;
}
h2 {
    color:white;
}
a{
    margin-top: 20px;
    border: none;
    display: inline-block;
    background-color: gray;
    padding: 15px 80px;
    text-decoration: none;
}
.buttonsign {
    background-color:#17b288;
    color: white;
    font-weight: bold;
}
.buttonup {
    font-weight: bold;
    color: white;
    padding: 15px 84.5px;
}
input {
    color: gray;
}
.firstName:focus, .lastName:focus, .emailAddress:focus, .setApassword:focus {
    background-color: #17b288;
    color: white;
}
 @media screen and (min-width:438px) {
    .buttonup {
        margin-left: -5px;
    }
 }
 @media screen and (min-width:478px) {
    section {
        width: 500px;
    }
    .firstName, .lastName {
        width: 195px;
        margin: auto;
    }
    .emailAddress, .setApassword {
        width: 410px;
    }
    .buttonsubmit {
        width: 425px;
    }
 }

